@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black font-sans m-0 p-0;
  background-image: url("/images/background/typewriter/background-image_plus-terracotta.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: scroll;
  box-sizing: border-box;
  align-self: stretch;

  /* Scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: #f0ead6 #87ceeb;
}
/* Webkit Scrollbar Styles */
body::-webkit-scrollbar {
  width: 8px;
  display: block;
}

body::-webkit-scrollbar-track {
  background: #edeade;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffdead;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ffdead;
}

/* Show scrollbar only on hover/scroll */
@media (max-width: 768px) {
  body {
    overflow-y: auto;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ffdead;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  body:hover::-webkit-scrollbar-thumb {
    opacity: 1;
  }
}

@layer utilities {
  .text-stroke-midnight {
    -webkit-text-stroke: 0.75px #191970;
    /* text-stroke: 3px #191970; (nonstandard, remove or comment out) */
  }
  .text-stroke-pearl {
    -webkit-text-stroke: 0.75px #e2dfd2;
  }
  .text-stroke-header {
    -webkit-text-stroke: 0.5px #90ee90;
  }
}

nav {
  transition: max-height 0.3s ease-in-out;
}

/* Optional: Style active link */
nav ul li a {
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #a8e6cf; /* Example hover color */
}

@layer base {
  :root {
    --footer-margin: 24rem;
  }
}

@media (min-height: 1300px) {
  :root {
    --footer-margin: calc(20px + (100vh - 1300px));
  }
}

html,
body {
  overflow-x: hidden;
}

/* Add these in your Tailwind CSS configuration */
.footer-dynamic {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
