.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/gears/gears3_ash.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  opacity: 0.15;
  z-index: -1;
}
