.numberkey {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: calc(infinity * 1px);
  background-color: texturedbrass;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkteal !important;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 1px 0 darkteal;
}

.numberkey:hover {
  background-color: bisque;
}

.numberkey::before {
  border-top: 1px solid darkteal !important;
  border-left: 1px solid darkteal !important;
}

.numberkey::after {
  border-bottom: 1px solid darkteal !important;
  border-right: 1px solid darkteal !important;
}
